<footer class="site-footer">

  <div class="wrapper">
    <ul class="footer-list">
      <li class="name"><h4>Krzysztof Romanowski</h4></li>
      <li class="phone"><span class="icon-phone"></span> mobile: <a href="tel:+48504120783">+48 504 120 783</a></li>
      
      <li class="love">
        <span class="icon-globe"></span> Made with <span class="icon-heart"></span> in <a href="https://en.wikipedia.org/wiki/Poland">Poland</a>
      </li>
      <li class="hosted"><small>Hosted on <a href="https://pages.github.com">GitHub Pages</a></small></li>
    </ul>
  </div>

</footer>

<script src="{{ "/assets/scripts.js" | relative_url }}"></script>