<footer class="site-footer">

  <div class="wrapper">
    <ul class="footer-list">
      <li class="name"><h4>Krzysztof Romanowski</h4></li>
      <li class="phone"><a href="mailto:me@krzysztofromanowski.pl">me@krzysztofromanowski.pl</a></li>
      <li class="love">
        <i class="fa fa-globe" aria-hidden="true"></i> Made with <i class="fa fa-heart" aria-hidden="true"></i> in <a href="https://en.wikipedia.org/wiki/Poland">Poland</a>
      </li>
      <li class="hosted"><small>Hosted on <a href="https://pages.github.com">GitHub Pages</a></small></li>
    </ul>
  </div>

</footer>

<script src="{{ "/assets/scripts.js" | relative_url }}"></script>
