<header class="site-header" role="banner">

  <div class="site-header-title">
    <h1>{{ site.title | escape }}</h1>
    <h2>{{ site.description | escape }}</h2>
  </div>

  <ul class="socials">
    <li><a href="mailto:me@krzysztofromanowski.pl"><span class="icon-email"></span></a></li><li><a href="http://github.com/castus"><span class="icon-github"></span></a></li><li><a href="https://pl.linkedin.com/in/krzysztofromanowski"><span class="icon-linkedin"></span></a></li><li><a href="https://twitter.com/castus"><span class="icon-twitter"></span></a></li><li><a href="http://facebook.com/krzysztof.romanowski"><span class="icon-facebook"></span></a></li>
  </ul>

</header>
