---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: Dosis, "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   18px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.
@import "minima";

.site-header {
    border: none;
    position: relative;
    text-align: center;
    height: 300px;
}

.site-header-title {
    position: relative;
    text-align: center;
    z-index: 2;
    padding: 50px;
}

.site-header canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.page-content {
    padding: 0;
}

.home-content {
    padding: 50px;
}

.about-content {
    padding: 50px;
    background-color: #A1C3BD;
    color: #fff;
}

.site-header-title {
    
}

.site-header-title h1 {
    font-size: 60px;
    color: #fff;
}

.site-header-title h2 {
    position: relative;
}

.site-footer {
    text-align: center;
}

.socials {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 22px;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    z-index: 2;
}

.socials li {
    display: inline;
}

.socials li a {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
}

.socials li a:hover {
    color: #A1C3BD;
}







